ion-content {
	--padding-top: 10%;
	--padding-start: 10%;
	--padding-end: 10%;
	--background: url('https://files.passeidireto.com/3af082fb-6799-4fce-8d77-5d51d4e41337/bg2.png')
		0 0/100% 100% no-repeat;
}

.header{
    /* Enable flex mode. */
    display: flex; 
    
    /* Spread out the elements inside the header. */
    justify-content: space-between;

    /* Align items vertically in the center. */
    align-items: center;
}

.logo {
  width: 25%;
  
  height: auto;
}

.heated {
      /* Enable flex mode. */
      display: flex; 
    
      /* Spread out the elements inside the header. */
      justify-content: space-between;
  
      /* Align items vertically in the center. */
      align-items: center;
}
img{
  padding: 20px;
}
